@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Забыли пароль";
}

<h3>Восстановление пароля</h3>
<form asp-action="ForgotPassword" method="post">
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Отправить ссылку</button>
</form>
